/* Notes
Fonts imported from Google: 
Montserrat - Neat, easily read, without being overly boring to look at
Tomorrow - computerized-esque text with harsh angles instead of round edges
Poppins - similar to Montserrat but with more definitive letters shapes and thicker letters
Aladin - Purely decorative, caligraphy font
Allerta Stencil - decorative stencil font - blocky

*/
/* Full page*/
body{
  margin: 0;
}
/* Logo */
nav li img {
  width: 120px;
  height: 120px;
  max-width: 100%;
}

/* Navbar */
nav {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgreen;  
  }
  
 nav li {
     float: left;
  }
  
 nav li a {
    font-size: 200%;
    display: block;
    color: white;
    text-align: center;
    padding: 40px 32px 40px 32px;
    text-decoration: none;
    border: 1px solid rgb(218, 154, 54);
    border-radius: 4px;
    
  }
  
 nav li a:hover {
    background-color: green;
  }
 
/* link back to top of page */

#bottomToTop a:visited {
  color: rgb(105, 110, 70)
}

#bottomToTop a:link, #bottomToTop a:visited {
  background-color: #2bf10391;
  color: black;
  padding: 4px 8px;
  text-align: center; 
  text-decoration: none;
  display: block;
 
}

#bottomToTop a:hover, #bottomToTop a:active {
  background-color: #fbff007e;
}

/* Webpage footer */

#page-footer {
  background-color: rgb(105, 110, 70); 
  color: white;
}

#copyright {
  margin-bottom: 0;
  font-family: Allerta Stencil, 'Times New Roman', Times, serif;
}


/* Members Table */
