/* Fonts Notes (to prevent cnofusion)
Fonts imported from Google: 
Merriweather - Serif font for most text
Montserrat - Neat, easily read, without being overly boring to look at
Tomorrow - computerized-esque text with harsh angles instead of round edges
Poppins - similar to Montserrat but  with more definitive letters shapes and thicker letters
Aladin - Purely decorative, caligraphy font
Allerta Stencil - decorative stencil font - blocky
*/

/* Full page*/
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: beige;
}

.page-content {
  flex-grow: 1;
  margin-bottom: 159px;
  
}

p {
  font-family: 'Merriweather', 'Times New Roman', Times, serif;
  line-height: 1.75;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'Merriweather', 'Times New Roman', Times, serif;
}

br {
  display: none;
}

h2 {
  font-family: 'Poppins', Verdana, Tahoma, sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Merriweather', 'Times New Roman', Times, serif;
  text-decoration-color: black;
}

.mailLink,
.linksMedia,
#listMembers {
  font-family: 'Poppins', 'Montserrat', Verdana, Tahoma, sans-serif;
}

/* Navbar */
nav .flex-container {
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

nav {
  font-family: 'Merriweather', 'Times New Roman', Times, serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkgreen;
}

nav li a {
  font-size: 175%;
  display: block;
  background-color: rgb(1, 112, 1);
  color: rgb(255, 196, 0);
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid rgb(199, 164, 51);
}

nav li a:hover {
  background-color: green;
  color: rgb(255, 228, 110);
  border: double 3px rgb(173, 144, 46);
}

/*Homepage content*/
.homepageContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.homePageImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: auto;
}
/* Society page Leaders and Members links */

.titleLink {
  text-decoration-color: black;
  color: rgb(0, 64, 255);
}

.titleLink:hover {
  color: rgb(218, 154, 54);
}

/* Community Page*/
.flex-container.communityEvents {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.community-Event {
  flex-direction: column;
  border: 5px dotted rgb(218, 154, 54);
  padding: 1em;
  margin: 0 5px;
}

.page-content.enrollmentpage-container br {
  display: none;
}

/* Logo */
nav li img {
  width: 120px;
  height: 120px;
  max-width: 100%;
  text-align: center;
  padding: 10px 0;
}
ul .navbarLogo {
  text-align: center;
}

/* Enrollment Page */
.enrollmentpage-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}

.enrollment-inf, .membership-obs {
  margin: 5px 20px;
}

.enrollmentSectionHeader {
  text-decoration: underline;
}

.enrollmentContentHeader {
  text-align: center;
  margin-top: 2em;
}

/*Contact/Media Page*/

.contactMediaPage.page-content {
  padding: 20px;
}

.footer-pusher {
  margin-bottom: 159px;
}

#page-footer, .footer-pusher {
  height: 159px;
}

p.business-hours {
  text-align: left;
}
/* Photos of Williams & Norell / leaders section */
.leaders.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 300px;
  justify-content: center;
}

.flex-item.leaderInfo {
  justify-content: center;
  border: 2px solid rgb(218, 154, 54);
  margin: 10px;
}

.h3ImageLabel {
  margin: 10px;
  text-align: center;
}

.Norell, .Williams{
  max-width: 70vw;
  min-height: 300px;
  box-shadow: 5px 5px 5px #707070;
  margin: 10px;
}

/* Photos */
.event1,
.event2,
.event3 {
  margin: 15px;
  box-shadow: 5px 5px 5px #707070;
  width: auto;
  max-width: 60vw;
}

.homePageImg {
  box-shadow: 5px 5px 5px #707070;
  width: 90%;
}

#bottomToTop a:hover,
#bottomToTop a:active {
  background-color: #fbff007e;
  font-size: 120%;
}

/* Social media buttons*/
.socialMediaButton img {
  width: 3em;
  height: 3em;
  margin: 2.5px;
  border-radius: 5px;
  padding: 0;
  text-decoration: none;
  border: 5px double rgb(218, 155, 54);
  transition: transform 0.4s ease-out;
  opacity: 100%;
}

#facebook,
#twitter,
#instagram {
  display: none;
}

/* Webpage footer */

#page-footer {
  margin-top: 5px;
  border-top: rgb(140, 140, 35) solid 5px;
  background-color: rgb(9, 77, 9);
  color: color F 0f 0e 1;
}

#page-footer ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#page-footer li {
  display: inline-block;
}

#copyright {
  margin-bottom: 0;
  font-family: "Allerta Stencil", "Poppins", "Times New Roman", Times, serif;
  text-align: center;
  background-color: rgb(9, 77, 9);
  color: white;
}

/* Members Table */
table {
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
}

table#listMembers {
  margin-bottom: 30px;
}
  
th,
td {
  background-color: rgb(240, 240, 222);
  border: 2px solid black;
  font-size: 150%;
  width: 75em;
  padding: 5px;
}

th {
  border-bottom: 2px solid black;
  color: rgb(218, 154, 54);
  background-color: darkgreen;
}

.tableDiv {
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: auto;
  width: 70vw;
}

/* Event Table*/
.events {
  padding-top: 2px;
}

/*  Calendar CSS */
.covidNotice {
  margin: 20px 5px;
}

.wrapper {
  width: 95%;
  height: 500px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.calendar {
  width: 550px;
  height: 450px;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.2);
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: left;
  width: 92.8%;
  padding: 10px 20px;
  text-align: center;
  background-color: darkgreen;
  color: #fff;
}

.weekdays {
  background-color: rgb(218, 154, 54);
  color: #fff;
  padding: 7px 0;
  display: flex;
}

.days {
  font-weight: 300;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.weekdays div,
.days div {
  text-align: center;
  width: 14.28%;
}

.days div {
  padding: 10px 0;
  margin-bottom: 10px;
  transition: all 0.4s;
}

.prev_date {
  color: #999;
}

.today {
  background-color: rgb(218, 154, 54);
  color: #fff;
}

.days div:hover {
  cursor: pointer;
  background-color: #dfe6e9;
}

.prev,
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 23px;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.prev:hover,
.next:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

#month {
  font-size: 30px;
  font-weight: 500;
}

/* Back to Top Button */

html {
  scroll-behavior: smooth;
}

section {
  width: 100%;
  height: 300vh;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
}
.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: rgba(0, 100, 0, 0.5);
  bottom: 40px;
  right: 30px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 22px; 
}

.gotopbtn:hover {
  background: rgba(0, 100, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
}



/* Media Queries (must remain at bottom of CSS*/



/* -------- Fourth page layout break --------*/
@media screen and (min-width: 770px) {

  .Norell, .Williams{
    width: 500px;
    height: 500px;
  }

  .wrapper {
    width: 550px;
  }

  nav .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
  }

  .navbarLogo {
    margin: auto;
    flex-basis: 100%;
  }

  nav li a {
    min-width: 175px;
    font-size: 160%;
    margin: 5px 10px;
    border: 3px solid rgb(199, 164, 51);
    border-radius: 7.5px;
    text-transform: none;
    padding: 30px 14px;
  }

  .event1,
  .event2,
  .event3 {
    width: auto;
    max-width: 500px;
  }

  .page-content.enrollmentpage-container br {
    display: inline;
  }

  .homePageImg {
    width: auto;
  }

  br {
    display: inline-block;
  }
  /* Members Table */

  .tableDiv {
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
  }
}

/* -------- Third page layout break --------*/
@media screen and (min-width: 887px) {
  .navbarLogo {
    margin-right: auto;
    flex-basis: 100%;
  }

  nav li a {
    margin: 10px 5px;
    min-width: 100px;
    font-size: 150%;
    text-shadow: 1px 1px 1px rgb(116, 116, 0);
  }

  /* Members Table */

  td {
    background-color: rgb(223, 223, 201);
  }

  /*Social Media Buttons*/
  #facebook,
  #twitter,
  #instagram {
    display: inline-block;
  }
  #squareFacebook,
  #squareTwitter,
  #squareInstagram {
    display: none;
  }
  .socialMediaButton img {
    width: 3.5em;
    height: 3.5em;
    border-radius: 100px;
    margin: 10px;
    border: 5px double rgba(218, 154, 54, 0.3);
    opacity: 80%;
  }

  .socialMediaButton img:hover {
    border: 5px double rgb(218, 154, 54);
    transform: scale(1.5) rotate(360deg);
    transition: 0.75s;
    opacity: 100%;
  }
}

/* -------- Second page layout break --------*/
@media screen and (min-width: 1060px) {
  nav li a {
    margin: 10px 7px;
  }
    
  .navbarLogo {
    margin-right: auto;
    flex-basis: auto;
  }

  nav .flex-container {
    justify-content: flex-end;
  }
}

/* -------- First page layout break --------*/
@media screen and (min-width: 1270px) {

  .enrollment-inf p, .membership-obs p {
    text-align: left;
  }

  nav li a {
    min-width: 150px;
    font-size: 175%;
    border: 3.5px solid rgb(199, 164, 51);
  }

  nav li a:hover {
    border: double 3.5px rgb(173, 144, 46);
  }

  /*Social Media Buttons*/

  .socialMediaButton img {
    width: 4em;
    height: 4em;
    border: 6px double rgba(218, 154, 54, 0.3);
  }
}
